*{

    border: 1px dashed red;
    

}

body{
    color: white;
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif; ;
}


.box{
    /* height: 100%; */
    min-height: 30px;
    display: flex;
}

.vv_color-black{
    color: black;
}

.vv_display-flex{
    display: flex;
}


/* REGOLE DELL'HEADER */

header{
    background-color: #2c3e50;
}

header i{
    font-size: 30px;
    color: #92908e;
    border: 2px solid #92908e;
    padding: 6px 10px;
    border-radius: 5px;
}

/* REGOLE DEL MAIN */

.vv_bg-color-green{
    background-color: #1abc9c;
}
#vv_bg-color-grey{
    background-color: #3a546d;
}

.vv_bg-color-green h6{
    font-size: 0.8rem;
    

}



/* INFO-SITE */

i{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid white;
}



/* REGOLE DEL FOOTER */

footer{
    background-color: #2c3e50;
    font-size: 0.6rem;
}

.vv_h-100px{
    height: 100px;

}